@use "./variables.scss" as *;

// put your custom CSS here!
// "Quartz 5" のテキストを画像に置き換える
.page-title a {
    display: block;
    width: 100%;
    height: 180px;              // お好みの高さに調整48
    text-indent: -9999px;      // テキストを画面外に飛ばして隠す
    overflow: hidden;
    background-image: url('/static/logo.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }

// ダークモード用に別画像を出したい場合
//:root[saved-theme="dark"] .page-title a {
//    background-image: url('/static/logo-dark.png');
//  }